@font-face {
  font-family: 'Poppins';
  src: local('Poppins Italic'),
    url(./assets/fonts/Poppins-Italic.ttf) format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins Bold'),
    url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins ExtraBoldItalic'),
    url(./assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
  font-style: italic;
  font-weight: 800;
}

:root {
  --color-accent: hsl(259, 100%, 65%);
  --color-error: hsl(0, 100%, 67%);

  --color-text: hsl(0, 0%, 8%);
  --color-content-bg: hsl(0, 0%, 100%);
  --color-body-bg: hsl(0, 0%, 94%);
  --color-border: hsl(0, 0%, 86%);
  --color-line: hsl(0, 1%, 44%);
  --color-link: hsl(228, 45%, 44%);

  --border-radius: 20px;

  --font-size: 32px;
  --font-family: 'Poppins', 'Arial', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-exbold: 800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-body-bg);
}

.attribution {
  position: absolute;
  top: 0px;
  right: 2px;
  padding-right: 6px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-link);
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 40px;

  background-color: var(--color-content-bg);
  border-radius: var(--border-radius) var(--border-radius)
    calc(var(--border-radius) * 6) var(--border-radius);
}

.inputs-list {
  display: flex;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input:not(:last-child) {
  margin-right: 20px;
}

.input__name {
  margin-bottom: 6px;
  color: var(--color-line);
  font-size: 0.34rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input__input {
  padding: 10px;
  width: 100%;
  max-width: 110px;
  border: 1px solid var(--color-border);
  border-radius: calc(var(--border-radius) - 14px);

  color: var(--color-text);
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  transition: border ease-out 0.3s;
  cursor: pointer;
}

.input__input:hover {
  border: 1px solid var(--color-line);
}

.input__input::placeholder {
  color: var(--color-line);
}

.input__input:focus {
  outline: none;
  border: 1px solid var(--color-accent);
}

.input__error {
  position: absolute;
  bottom: -18px;
  margin-top: 6px;

  color: var(--color-error);
  font-size: 0.3rem;
}

.input--error > .input__name {
  color: var(--color-error);
}

.input--error > .input__input {
  border: 1px solid var(--color-error);
}

.separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.separator__line {
  width: 100%;
  height: 2px;
  background-color: var(--color-border);
}

.separator__line--right {
  display: none;
}

.separator__button {
  padding: 16px;
  background-color: var(--color-accent);
  border-radius: 50%;

  transition: background ease-in-out 0.4s;
  cursor: pointer;
}

.separator__button:hover {
  background-color: var(--color-text);
}

.row {
  display: flex;
  font-size: 2rem;
  font-weight: var(--font-weight-exbold);
  line-height: 2.1rem;
}
.row__number {
  margin-right: 6px;
  color: var(--color-accent);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 630px) {
  :root {
    --font-size: 30px;
  }

  body {
    padding: 16px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .separator__line--right {
    display: block;
  }

  .input__error {
    font-size: 0.28rem;
  }
}
